streamlit
python-dotenv

# LangChain core and integrations
langchain
langchain-pinecone
langchain-google-genai

# Vector DBs
pinecone-client

# Google Generative AI
google-generativeai

# LangChain loaders and dependencies
unstructured
pypdf

# PDF + tokenizer
pdfminer.six
tiktoken
