streamlit
langchain
langchain-google-genai
langchain-pinecone
google-generativeai
pinecone-client
python-dotenv
PyPDF2
pdfminer.six
tiktoken
python-dotenv
langchain
chromadb
openai  # if you're using OpenAI

